@use "../helpers/mixin" as *;
@use "../variables/variables" as *;
@use "../layout/global-rules";
.container {
    @include breakpoint(mobile) {
        width: 360px;
    }
    @include breakpoint(small) {
        width: 970px;
    }
    @include breakpoint(medium) {
        width: 1170px;
    }
    @include breakpoint(large) {
        width: 1200px;
    }
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 100px;
        .logo {
            color: $white;
            font-size: 25px;
            font-family: sans-serif;
            font-weight: bolder;
        }
        nav {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul {
                display: flex;
                position: relative;
                @include breakpoint(mobile) {
                    display: none;
                }
                li a {
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 25px 20px;
                    position: relative;
                    &:hover::after {
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 3px;
                        left: 25%;
                        bottom: 15px;
                        background-color: $white;
                    }
                    @include breakpoint(mobile) {
                        font-size: 18px;
                        padding: 10px 20px;
                        margin-left: -20px;
                        color: #eee;
                    }
                }
            }
            .burgar-icon{
                transition: 0.5;
                @media (min-width: 375px) {
                    display:none;
                }
                &:hover + ul {
                    @include breakpoint(mobile) {
                        display: flex;
                        text-align: flex-start;
                        justify-content: end;
                        flex-direction: column;
                        position: absolute;
                        top: -35px;
                        left: 0px;
                        width: 100%;
                        min-height: 100vh;
                        padding-bottom: 150px ;
                        background-color: $black;                        
                    }
            }
        }
    }
}
}
.menu-logo {
    color: $white;
    display: none;
    position: absolute;
    top: 75px;
    left: 40px;
    font-size: 24px;
    @include breakpoint(mobile) {
        display: block;
    }

}
.close-icon {
    display: none;
    position: absolute;
    top: 75px;
    right: 40px;
    @include breakpoint(mobile) {
        display: block;
    }

}

.landing {
    min-height: 100vh;
    background-color: aqua;
    background-image: url(../images/desktop/image-hero.jpg);
    background-size:cover;
    position: relative;
    @include breakpoint(mobile) {
        background-image: url(../images/mobile/image-hero.jpg);
    }
    .text {
        display: flex;
        justify-content: flex-start;

    }
    p {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        color:$white;
        font-family: sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        border: 1px solid $white;
        padding: 20px;
        width: 450px;
        @include breakpoint(mobile) {
            font-size: 36px;
            width: 300px;
        }
    }
}

.interactive {
    padding-top: 160px;
    padding-bottom: 160px;
    @include breakpoint(mobile) {                
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container{
        display: flex;
        align-items: center;
        @include breakpoint(mobile) {                
            display: flex;
            flex-direction: column;
        }
        .interactive-img {
            @include breakpoint(mobile) {                
                display: none;
            }
        }
        .interactive-mobile-img {
            display: none;
            @include breakpoint(mobile) {                
                display: block;
                width: 320px;
            }
        }
        .text {
            background-color: $white;
            padding: 30px 80px;
            margin-left: -160px;
            margin-top: 250px; 
            color: $black;
            h2 {
                font-size: 50px;
                font-weight: lighter;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
            }
            @include breakpoint(mobile) {                
                margin-top: 20px;
                margin-left: 0;
                padding: 0;
                text-align: center;
                &{
                    h2 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 2;
                        text-align:justify;
                    }
                }
            }
        }
    }
}

.our-creation {
    .container {
        position: relative;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include breakpoint(mobile) {  
                margin-top: 10px; 
                h2 {
                    position: absolute;
                    top: -60px;
                    left: 60px;
                }
                .mobile-button {
                    position: absolute;
                    bottom: -50px;
                    left:50%;
                    transform: translateX(-50%);
                    border: 1px solid  $black;
                    padding: 7px 30px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            h2 {
                font-size: 28px;
                text-transform: uppercase;
                font-family: sans-serif;
                font-weight: lighter;
            }
            button {
                background-color: $white;
                color: $black;
                padding: 5px 30px;
                text-transform: uppercase;
                margin-top: 20px;
                border: 1px solid  $black;
                cursor: pointer;
                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
        .gallery {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
            gap: 30px;
            .image {
                position: relative;
                max-width: 100%;
                color: $white;
                cursor: pointer;
                img {
                    width: 100%;
                }
                @include breakpoint(mobile) {                
                    display: none;
                }

                span {
                    position: absolute;
                    left:70px;
                    bottom: 50px;
                    font-size: 26px;
                    font-weight: lighter;
                    text-transform: uppercase;
                    width: 130px;
                    z-index: 2;
                }
                &:hover::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(238, 238, 238, 0.5);
                }
                &:hover {
                    color: black;
                }
            }
            .image-mobile {
                display: none;
                position: relative;
                @include breakpoint(mobile) {                
                    display: block;
                    img {
                        width: 300px;
                    }
                    span {
                        position: absolute;
                        top:50px;
                        left: 20px;
                        font-size: 20px;
                        font-weight: lighter;
                        width: 100px;
                    }
                }
            }
        }
    }
}

.footer {
    margin-top: 100px;
    background-color: $black;
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        .section1 {
            .title {
                font-size: 24px;
            }
            .links ul {
                display: flex;
                margin-left: -40px;
                li {
                    margin-right: 20px;
                    position: relative;
                }
                li:hover::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 3px;
                    left: 25%;
                    bottom: -10px;
                    background-color: $white;
                }
            }
        }
        .section2 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .icons {
                cursor: pointer;
                .icon {
                    margin-right: 10px; 
                    &:hover {
                        background-color: $darkGray;
                    }
                }
            }
            .rights {
                color: $darkGray;
            }
        }
        @include breakpoint(mobile) { 
            padding-top: 40px;    
            padding-bottom: 40px;           
            display: flex;
            flex-direction: column;
            text-align: center;
            ul{
                display: flex;
                flex-direction: column;
                margin-left: 0;
                li {
                    margin-right: 0;
                    margin-top: 20px;
                }
            }
            .section2 {
                margin-top: 30px;
                align-items: center;
            }
        }
    }
}